<shots-page class="app-background">
    <div class="app-background-page">
        <div class="center">
            <!--<div ng-include="'../../components/loading.html?ts='+ moment().valueOf()" ng-show="loading"></div>-->
            <div class="sk-cube-grid" ng-if="loading">
                <div class="sk-cube sk-cube1"></div>
                <div class="sk-cube sk-cube2"></div>
                <div class="sk-cube sk-cube3"></div>
                <div class="sk-cube sk-cube4"></div>
                <div class="sk-cube sk-cube5"></div>
                <div class="sk-cube sk-cube6"></div>
                <div class="sk-cube sk-cube7"></div>
                <div class="sk-cube sk-cube8"></div>
                <div class="sk-cube sk-cube9"></div>
            </div>
            <div id="card{{$index}}" class="card" ng-repeat="shot in shots | orderBy: ['!views_count','-views_count']
             track by $index" ng-click="editar(shot.id)" ng-if="!loading">
                <div id="itemcard{{$index}}">
                    <img class="img-card" ng-src="{{shot.images.normal}}">
                    <a id="container{{$index}}" class="container-card-texto">
                        <div id="title{{$index}}" class="title">
                            {{shot.title}}
                        </div>
                        <div id="titleview{{$index}}" class="title-qtdviews">
                            <i class="fa fa-eye" aria-hidden="true"></i> {{shot.views_count}}
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</shots-page>